<div id="inputs" [ngClass]="state?'out':'in'">
  <h1>{{ players.length }} player<span *ngIf="players.length !== 1">s</span></h1>
  <input id="text-field" type="text" placeholder="Put your steamid or your custom url here..." [(ngModel)]="playerID">
  <div id="buttons">
    <button type="button" (click)="addPlayer()" [disabled]="state">Add</button>
    <div id="analyze" (mouseleave)="changeFiltersPointerEvents('none')">
      <button type="submit" (click)="changeState()" (mouseenter)="changeFiltersPointerEvents('all')">{{ state?'Stop':'Start' }} analyzing</button>
      <div id="filters-arrow">
        <div></div>
      </div>
      <ul id="filters">
        <li>
          <input id="online" type="checkbox"
                 (change)="setTags()"
                 [checked]="tags['Online Co-op'] && tags['Online Multiplayer']">
          <label for="online">Online</label>
          <ul>
            <li>
              <label>
                <input type="checkbox"
                       (change)="tags['Online Co-op'] = !tags['Online Co-op']; setParentCheckboxState()"
                       [checked]="tags['Online Co-op']">
                Co-op
              </label>
            </li>
            <li>
              <label>
                <input id="online-multiplayer" type="checkbox"
                       (change)="tags['Online Multiplayer'] = !tags['Online Multiplayer']; setParentCheckboxState()"
                       [checked]="tags['Online Multiplayer']">
                Multiplayer
              </label>
            </li>
          </ul>
        </li>
        <li>
          <input id="local" type="checkbox"
                 (change)="setTags()"
                 [checked]="tags['Local Co-op'] && tags['Local Multiplayer']">
          <label for="local">Local</label>
          <ul>
              <li>
                <label>
                  <input id="local-coop" type="checkbox"
                         (change)="tags['Local Co-op'] = !tags['Local Co-op']; setParentCheckboxState()"
                         [checked]="tags['Local Co-op']">
                  Co-op
                </label>
              </li>
              <li>
                <label>
                  <input id="local-multiplayer" type="checkbox"
                         (change)="tags['Local Multiplayer'] = !tags['Local Multiplayer']; setParentCheckboxState()"
                         [checked]="tags['Local Multiplayer']">
                  Multiplayer
                </label>
              </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="players" [ngClass]="state?'out':'in'">
  <div *ngFor="let player of players; let i = index">
    <!-- Always leave this hidden input as first ! -->
    <input type="hidden" value="{{ i }}">
    <fa name="times" size="2x" (click)="removePlayer($event)"></fa>
    <a href="{{ player.profileurl }}" target="_blank"><img src="{{ player.avatarmedium }}" alt="Profile picture"></a>
  </div>
</div>
<app-games *ngIf="state" [players]="players" [tags]="tags"></app-games>
